.container {
  .login-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input {
      color: rgba(255, 255, 255, 0.87);
      padding: 0.5rem;
      background-color: #181818;
      border: 1px solid #1a1a1a;
      border-radius: 8px;
    }
  }
}
